# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# --- Extensiones para Java ---
*.class
*.jar
*.war
*.ear
/out/
/bin/

# --- IDEs (VS Code, Visual Studio, JetBrains) ---
.vscode/
.idea/
*.user
*.suo
*.sln
*.vcxproj
*.filters